.App {
	text-align: center;
  }

  *{
    margin: 5;
    padding: 0;
    font-family: Courier, monospace
  }
  
  .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .form input {
  width : 350px;
  height: 60px;
  margin: 10px;
  }


  nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    position: relative
	}

  .nav-links{
      flex: 1;
      text-align: right;
  }

  .nav-links ul li{
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
  }
  .nav-links ul li a{
      color: #070101;
      text-decoration: none;
      font-size: 18px;
      font-style: italic
  }
  .nav-links ul li::after{ 
      content: '';
      width: 0%;
      height: 2px;
      background: #030201;
      display: block;
      margin: auto;
      transition: 0.5s;
  }
  .nav-links ul li:hover::after{
      width:100%;
  }
  
  /* HILLTALK logo on top left corner  */
  h1 {
	  font-family: "Lucida Console";
	  text-align: left;
	  font-size: 35px;
	  padding: 0px 12px;
  }
  
  .map{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
	  border: 5px solid #555;

  }
  
  body {
	text-align: center;
  background-color: rgb(247, 239, 228);
  }

  /* borders for pictures on each page  */
  .Bplate{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 30%;
	border: 5px solid #555;
  }
  
  .tripleClassic{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 40%;
	border: 5px solid #555;
  }
  
  .Bfit{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 48%;
	border: 5px solid #555;
  }
  
  .CentennialOlympic{
	  border: 5px solid #555;
  }

.btn-primary{
  display: inline-block;
  text-decoration: none;
  color: #080000;
  border: 1px solid #080000;
  font-size: 13px;
  padding: 6px 10px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.btn-primary:hover{
  border: 1px solid #040404;
  background: #ffffff;
  transition: .6s;
}

.ReviewBox{
	border: 2px solid #000000;
	margin-right: 10px;
  width: 725px;
  text-align: left;
  }

  .RatingBox{
	width: 40px;
	border: 2px solid #000000;
	margin-right: 10px;
  }

.loginBox{
	border: 2px solid #000000;
	margin-right: 10px;
  width: 250px;
  text-align: left;
  margin-bottom: 5px;
}

  
.thumbsup{
	font-size: 20px;
	margin: 4px;
	border: 2px solid #268b3c;
}

.thumbsdown{
	font-size: 20px;
	margin: 4px;
	border: 2px solid #cf3131;
}

.eachReview{
  border: 1px solid #555;
  margin-left: 275px;
  margin-right: 275px;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
  }
  
  .input-group-horiz {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-right: 5px;
  }

  .no-margin{
	margin: 10px;
  }


  /* buttons adding and sorting reviews */

  .rev-button{
	margin: 10px;
  }

  .rev-button {
    width: 150px;
    height: 30px;
    border: none;
    outline: none;
    color: #030303;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.rev-button:before {
    content: '';
    background: linear-gradient(45deg, #030000, #fafafa, #030000, #fafafa, #030000, #fafafa, #030000, #030000, #030000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.rev-button:active {
    color: rgb(195, 121, 18)
}

.rev-button:active:after {
    background: transparent;
}

.rev-button:hover:before {
    opacity: 1;
}

.rev-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fdfcfc;
    left: 0;
    top: 0;
    border-radius: 10px;
}
/* glowing animation around border */
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

